.godot/
.translation
.mono/
.tmp
Thumbs.db
.vscode/
build/
/export/
$RECYCLE.BIN/
desktop.ini
.vs
/build/
.venv
.idea
*.xml
/Undecided_Game_Proj/RustSetup/target/debug
Undecided_Game_Proj/Obsidian Files/Code Documentation/Procedural Environment Generator/.obsidian/community-plugins.json
/Assets/
/Undecided_Game_Proj/GDProject/bin/Assets
/Undecided_Game_Proj/src/.zig-cache
*.tmp
/Undecided_Game_Proj/Obsidian Files/Random unorganized notes/Notes/.obsidian
*.obj
*.obj
*.pdb
*.exe
/Undecided_Game_Proj/zig godot-cpp build scripts/.zig-cache
*.obj
