.godot/
.translation
.mono/
.tmp
Thumbs.db
.vscode/
/export/
$RECYCLE.BIN/
desktop.ini
.vs
.venv
.idea
*.xml
/Undecided_Game_Proj/RustSetup/target/debug
Undecided_Game_Proj/Obsidian Files/Code Documentation/Procedural Environment Generator/.obsidian/community-plugins.json
/Assets/
/Undecided_Game_Proj/GDProject/bin/Assets
/Undecided_Game_Proj/src/.zig-cache
*.tmp
/Undecided_Game_Proj/Obsidian Files/Random unorganized notes/Notes/.obsidian
*.obj
*.obj
*.pdb
*.exe
/Undecided_Game_Proj/zig godot-cpp build scripts/.zig-cache
*.obj
*.pdb
*.obj
*.dll
*.export
*.lib
*.ilk
*.so
/Undecided_Game_Proj/RustSetup/target/flycheck0
/Undecided_Game_Proj/RustSetup/target/flycheck0
/Undecided_Game_Proj/RustSetup/target/flycheck0
/Undecided_Game_Proj/src/cache
/Undecided_Game_Proj/src/.xmake
/Undecided_Game_Proj/RustSetup/target
/Undecided_Game_Proj/RustSetup/target
/Undecided_Game_Proj/node_modules
/Undecided_Game_Proj/src/html
/Undecided_Game_Proj/src/latex
