CompileFlags:
  Add:
    - "-IF:/Openworld_Game/Undecided_Game_Proj/godot-cpp/include" # Change these to actually match your host directories (relative file paths are broken for some reason)
    - "-IF:/Openworld_Game/Undecided_Game_Proj/godot-cpp/gen/include"
    - "-IF:/Openworld_Game/Undecided_Game_Proj/godot-cpp/gdextension"
    - "-IF:/Openworld_Game/Undecided_Game_Proj/src/cache"
    - "-IF:/Openworld_Game/Undecided_Game_Proj/src/InternalLibraries"
    - "-IF:/Openworld_Game/Undecided_Game_Proj/src/Tools/JSlangBuild/cache"
    - -std=c++23
    - -Wall
    - -Wno-c23-extensions
    - "-D__clangd__"
  Remove: [-Wclean-room]

If:
  PathMatch: src/.*

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

  ClangTidy:
    Add:
      - modernize-*
      - readability-*
      - bugprone-*
      - performance-*
    Remove:
      - bugprone-easily-swappable-parameters
      - performance-no-automatic-move
      - readability-magic-numbers
      - modernize-use-trailing-return-type
    CheckOptions:
      readability-identifier-naming.ConstexprVariableCase: UpperCase
      readability-identifier-naming.MacroDefinitionCase: UpperCase
      readability-function-cognitive-complexity.Threshold: 32

      readability-identifier-naming.ParameterCase: CamelCase

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes
  BlockEnd: Yes
  TypeNameLimit: 25

Index:
  Background: Build
  StandardLibrary: Yes

Completion:
  AllScopes: No

Hover:
  ShowAKA: Yes

---
If:
  PathMatch: godot-cpp/.*

Diagnostics:
  ClangTidy:
    Remove: ["*"]
  UnusedIncludes: None
